*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
        top: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #fff;
}

#brand-logo {
    height: 25px;
}

#header-up {
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-up span {
    font-size: 1.4em;
    color: #666;
    margin-left: 10px;
}

#header-low {
    height: 20%;
}

#header-low-lx {
    float: left;
}

#header-low-lx li {
    display: inline-block;
}

#header-low-lx li:not(:first-child) {
    padding-left: 30px;
}

#header-low-rx{
    float: right;
}

menu{
    height: 100px;
    width: 100%;
    background-color: green;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    padding: 24px 24px 0 24px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.container{
    max-width: 978px;
    padding: 32px;
    min-height: 600px;
    margin: 50px auto;
    line-height: 1.54;
}

h2{
    color: #3c4043;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
}

p{
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
