*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu{
    height: 100px;
    width: 100%;
    background-color: green;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    padding: 24px 24px 0 24px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.container{
    margin-top: 100px;
    max-width: 978px;
    padding: 32px;
    min-height: 600px;
    margin: 0 auto;
    background-color: red;
    line-height: 1.54;
}

h2{
    color: #3c4043;
    font-family: 'Google Sans',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
}

p{
    color: rgba(0,0,0,0.87);
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
